@model dotNet.OpenPOS.Web.Models.HomeViewModel
@{
    ViewData["Title"] = "OpenPOS Web Application";
}

<div id="container-pos">
    <div class="row">
        <section ng-init="tab = 1">
            <ul class="nav nav-pills">
                <li><a href ng-click="tab = 1">Products</a></li>
                <li><a href ng-click="tab = 2">Orders</a></li>
            </ul>
        </section>
    </div>
    <div class="row">
        <div class="order col-md-6" ng-controller="OrdersController as orders">
            <table>
                <thead>
                    <tr>
                        <th>{{orders.currentOrder.Name}}</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td>Total</td>
                        <td></td>
                        <td>{{ orders.currentOrder.Total | currency }}</td>
                    </tr>
                </tfoot>
                <tbody>
                    <tr ng-repeat="(key, value) in orders.currentOrder.Products">
                        <td>{{value.Name}}</td>
                        <td>{{value.Quantity}}</td>
                        <td>{{value.Price}}</td>
                    </tr>
                </tbody>
            </table>
            <input type="submit" value="Submit Order" />
        </div>
        <div class="products col-md-6" ng-controller="ProductsController as products" ng-show="tab == 1">
            <h2>Products</h2>
            <ul>
                @*@foreach (var p in Model.Products)
                    {
                        <li>
                        </li>
                    }*@
            </ul>

        </div>
        <div class="col-md-6" ng-show="tab == 2">
            <h2>Last Daily Orders</h2>
            <ul>
                @foreach (var o in Model.LastDailyOrders)
                {
                    <li>@o.CreatedDate - @o.Name - @o.Total €</li>
                }
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>Calculator</h2>

        </div>
        <div class="col-md-6">
            <h2>Top sales products</h2>
            <ul>
                @foreach (var p in Model.TopProducts.Select((value, i) => new { i, value }))
                {
                    <li>@p.i: @p.value.Name - @p.value.Sales</li>
                }
            </ul>
        </div>
    </div>
</div>
