@model dotNet.OpenPOS.Web.Models.HomeViewModel
@{
    ViewData["Title"] = "OpenPOS Web Application";
}

<div id="container-pos">

    <div class="row">
        <div class="order col-md-6" ng-controller="OrdersController as orders">
        </div>
        <div class="products col-md-6" ng-controller="ProductsController as products">
            @Newtonsoft.Json.JsonConvert.SerializeObject(Model.Products)
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>Last Daily Orders</h2>
            <ul>
                @foreach (var o in Model.LastDailyOrders)
                {
                    <li>@o.CreatedDate - @o.Name - @o.Total €</li>
                }
            </ul>
        </div>
        <div class="col-md-6">
            <h2>Top sales products</h2>
            <ul>
                @foreach (var p in Model.TopProducts)
                {
                    <li>@p.Name - @p.Sales</li>
                }
            </ul>
        </div>
    </div>
</div>
