@model dotNet.OpenPOS.Web.Models.HomeViewModel
@{
    ViewData["Title"] = "OpenPOS Web Application";
}

<div id="container-pos">

    <div class="row">
        <div class="order col-md-6" ng-controller="OrdersController as orders">
            <table>
                <thead>
                    <tr>
                        <th>{{orders.currentOrder.Name}}</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td>Total</td>
                        <td></td>
                        <td>{{ orders.currentOrder.Total | currency }}</td>
                    </tr>
                </tfoot>
                <tbody>
                    <tr ng-repeat="(key, value) in orders.currentOrder.Products">
                        <td>{{value.Name}}</td>
                        <td>{{value.Quantity}}</td>
                        <td>{{value.Price}}</td>
                    </tr>
                </tbody>
            </table>
            <input type="submit" value="Submit Order" />
        </div>
        <div class="products col-md-6" ng-controller="ProductsController as products">
            {{ products.list = @{ Newtonsoft.Json.JsonConvert.SerializeObject(Model.Products); } }}
            <ul>
                <li ng-repeat="(key, value) in products.list">
                    {{ value.Name }}
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>Last Daily Orders</h2>
            <ul>
                @foreach (var o in Model.LastDailyOrders)
                {
                    <li>@o.CreatedDate - @o.Name - @o.Total €</li>
                }
            </ul>
        </div>
        <div class="col-md-6">
            <h2>Top sales products</h2>
            <ul>
                @foreach (var p in Model.TopProducts)
                {
                    <li>@p.Name - @p.Sales</li>
                }
            </ul>
        </div>
    </div>
</div>
