@model dotNet.OpenPOS.Web.Models.HomeViewModel
@{
    ViewData["Title"] = "OpenPOS Web Application";
}

<div id="container-pos">
    <!-- First Row -->
    <div class="row"></div>
    <!-- Second Row Orders / Products list -->
    <div class="row" ng-controller="OrdersController as orders">
        
        <!-- Current order section -->
        <div class="order col-md-6" >
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            <div ng-show="editing" class="form-inline">
                                <input style="display:inline-block;" type="text" class="form-control" ng-model="orders.currentOrder.name"> 
                                <span class="glyphicon glyphicon-ok" ng-click="editing = false"></span>
                            </div>                     
                            <h4 ng-hide="editing" ng-click="editing = true">{{orders.currentOrder.name}}</h4>
                        </th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Price</th>                      
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td>Total</td>
                        <td></td>
                        <td></td>
                        <td>{{ orders.currentOrder.total | currency }}</td>
                    </tr>
                </tfoot>
                <tbody>
                    <tr ng-repeat="(key, value) in orders.currentOrder.products">
                        <td><span class="glyphicon glyphicon-remove" ng-click="orders.removeProduct(key)"></span></td>
                        <td>{{value.name}}</td>
                        <td>
                            <div ng-show="editing" class="form-inline">
                                <input style="display:inline-block;" type="text" class="form-control" ng-model="value.quantity">
                                <span class="glyphicon glyphicon-ok" ng-click="editing = false; orders.updateOrderTotals()"></span>
                            </div>
                        <span ng-hide="editing" ng-click="editing = true">{{value.quantity}}</span>
                        </td>
                        <td>{{value.quantity * value.price}}</td>                     
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-success" ng-disabled="orders.currentOrder.total == 0 || orders.currentOrder.status != 1" ng-click="orders.create()">Pay</button>
            <button class="btn btn-warning" ng-click="orders.clear()">Clear</button>
        </div>
        <!-- Tabs section -->
        <div>
            <section class="col-md-4" ng-init="tab = 1">
                <ul class="nav nav-pills" style="float:right;">
                    <li><a href ng-click="tab = 1">Products</a></li>
                    <li><a href ng-click="tab = 2">Orders</a></li>
                    <li><a href ng-click="tab = 3">Payments</a></li>
                </ul>
            </section>
            <!-- Product list section Tab 1 -->
            <div class="products col-md-6" ng-controller="ProductsController as products" ng-show="tab == 1">
                <div>
                    <span class="tag tag-default" ng-show="products.inventories.length > 0" ng-click="products.backproductFamily()">Back</span>
                    <span class="tag tag-default" ng-repeat="(key, value) in products.inventory.productFamilies" ng-click="products.loadProductFamily(key)">
                        {{value.familyName}} - ({{value.products.length}})
                    </span>
                </div>
                <div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Code</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(key, value) in products.inventory.products" ng-click="orders.addProduct(value)">
                                <td>{{value.name}}</td>
                                <td></td>
                                <td>{{value.price}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Daily Order section Tab 2 -->
            <div class="daily col-md-6" ng-show="tab == 2">
                <a href class="fa fa-refresh" ng-click="orders.refreshOrdersList()">Refresh</a>
                <ul>
                    @foreach (var o in Model.LastDailyOrders)
                    {
                        <li class="orders-list-item" ng-click="orders.dragToCurrentOrderSection(@Newtonsoft.Json.JsonConvert.SerializeObject(o,new Newtonsoft.Json.JsonSerializerSettings
        {ContractResolver = new Newtonsoft.Json.Serialization.CamelCasePropertyNamesContractResolver()}))">@o.CreatedDate-@o.Name-@o.Total€</li>
                    }
                    <li ng-repeat="(key, value) in orders.ordersList">
                        <span ng-click="orders.dragToCurrentOrderSection(value)">{{ value.createdDate | date:'dd-MM-yyyy HH:mm:ss':'+0100' }} - {{ value.name }} - {{ value.total }}</span>
                    </li>
                </ul>
            </div>
            <!-- Payment section Tab 3 -->
            <div class="payments col-md-6" ng-show="tab == 3">
                <ul>
                    @foreach (var p in Model.PaymentTypes)
                    {
                        <li data-paymentId="@p.Key">@p.Value</li>
                    }
                </ul>
            </div>
        </div>
        
    </div>
    <!-- Third Calculator / TopProducts -->
    <div class="row">
        <div class="col-md-6">
            <h2>Calculator</h2>

        </div>
        <div class="col-md-6" ng-controller="ProductsController as products">
            <h2>Top sales products</h2>
            <ul>
                @foreach (var p in Model.TopProducts.Select((value, i) => new { i, value }))
                {
                    <li>@p.i: @p.value.Name - @p.value.Sales</li>
                }
            </ul>
            <p>Last update: {{ products.randomNumber }}</p>
        </div>
    </div>
    <!-- Hidden Data -->
    <div>
        <input id="inventory-data" type="hidden" data-content="@Newtonsoft.Json.JsonConvert.SerializeObject(Model.Products,new Newtonsoft.Json.JsonSerializerSettings
        {
            ContractResolver = new Newtonsoft.Json.Serialization.CamelCasePropertyNamesContractResolver()
        })" />
    </div>  
</div>
